{% extends "base.html"%}
{% block title %}Tous Les Fichiers{% endblock %}
{% block content %}

<br>
<h1 align="center" style="padding-top: 2%; padding-bottom: 0%;">Tous Les Fichiers </h1>
<br>
<div style="width: 60%;  margin-left: auto;margin-right: auto;">
    <ul  align="center" class="list-group list-group-flush " >
    
        {% for fname in fln %}
        <li class="list-group-item list-group-item-action shadow">
                  
                    <form style="margin-bottom:-4%;" method="POST" action="/result" >
                      <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet-fill mb-1" viewBox="0 0 16 16">
                        <path d="M6 12v-2h3v2H6z"/>
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3V9z"/>
                      </svg> 
                    <input  class="btn btn-lg" type="submit" value ="{{fname}}" name="button">
                    </form>
                    <button  class=" close" data-toggle="modal" data-target="#{{fname}}" > <span aria-hidden="true">
                        &times;
               
                </span></button>
              </li>
                
        {% endfor %}
    
    </ul>
    
</div>

{% for fname in fln1 %}



  <div class="modal fade" id="{{fname}}" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="Label">Supprimer le fichier ?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Voulez vous  supprimer le fichier {{fname[:-5]}}</p>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler  </button>
          <form   method="POST" action="/result">
              <button class=" btn btn-danger" type="submit" value ="{{fname}}"  name="closeAll">Supprimer</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock %}