{% extends "base.html"%}
{% block title %}recherche{% endblock %}
{% block content %}


       
    
  <form style="width: 60%; margin-left: auto; margin-right: auto ; margin-top: 2%;"  action="/searchResult" method="POST">
    <h1 align="center"> Recherche </h1> 
    <div  class="form-row  mb-2 shadow-lg">
        <div  style=" border-radius: 25px; padding: 2%;  height: max-content; " class="col-md-10">
           <label  for="mlo"><h2 style="  padding: 2  px;" >Entrez le nom du MLO</h2> </label>
             <input class="form-control" type="text" name="mlo" id="mlo" placeholder="Ex: AAA_0000_AAA_0000">
            <button style="margin-top:2% ; " type="submit" class="btn btn-outline-success shadow btn-lg">Recherche</button>
          </div>
    
</form>

{% endblock %}
